* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #7b5efa;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchContainer {
        display: flex;
        overflow: hidden;

        input {
            width: 0px;
            height: 50px;
            outline: none;
            border: none;
            border-radius: 0%;
            font-size: 16px;
            padding: 0px 0px;
            transition: all .3s;
        }

        .search {
            width: 50px;
            height: 51.5px;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            background-color: #fff;
            position: relative;
            top: -1px;
            left: -1px;
            cursor: pointer;
            transition: all .3s;
        }

        .search-click {
            transform: scale(0.98);
        }

        //通过修改width属性,来实现伸缩的效果
        .search-show {
            width: 300px;
            padding: 0px 0px 0px 10px;
        }
    }
}