$themeColor: #a543a5;
$basicLength:100px;
$basicSize:16px;

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $themeColor;

    .content {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 1.2*$basicSize;
        text-align: center;
    }

    #start {
        cursor: pointer;
        width: $basicLength*2;
        height: $basicLength*0.5;
        border-radius: 10px;
        border: none;
        margin: 30px;
    }

    #start:active {
        transform: scale(0.95);
    }
}